@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lexend+Deca:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-main-bg: #050C22; /* oxford blue */
    --color-secondary-bg: #FAFF00; /* yellow */
    --color-accent: #6874E8; /*purple*/
    --color-foreground-primary: #FFFFFF;
    --color-foreground-secondary: #DADDFA;
    --default-font-family: "Lexend Deca", sans-serif;
    --font-cal-sans: "Cal Sans", sans-serif;

    /* breakpoints */
    --breakpoint-*: initial;
    --breakpoint-tablet: 640px;
    --breakpoint-laptop: 1024px;
    --breakpoint-desktop: 1440px;

    /* MAX WIDTH OF THE APP */
    --max-width: 1220px;
    --transition-duration: 100;
}

.flex-row-between {
    @apply flex justify-between items-center
}

.flex-col-between {
    @apply flex flex-col justify-between
}

.flex-center {
    @apply flex justify-center items-center
}

.flex-col-center {
    @apply flex flex-col justify-center items-center
}

.important-heading {
    @apply font-cal-sans text-2xl text-foreground-primary
}

.secondary-heading {
    @apply text-2xl
}

.primary-paragraph {
    @apply text-xl
}

.secondary-paragraph {
    @apply text-lg
}

